{% extends "szablon.html" %}
{% block tytul %}Quiz – usuwanie pytan{% endblock %}
{% block h1 %}Quiz – usun pytanie{% endblock %}
{% block tresc %}

    <h2 class="text-white">Czy na pewno chcesz usunac?</h2>

    <form method="POST" action="{{ url_for('usun', pid=pytanie.id) }}">
        <p style="color: #ffffff;" class="lead">Czy na pewno usunac pytanie: </p>
        <p style="color: #ffffff;"> {{ pytanie.pytanie }}</p>
    <input type="submit" class="btn btn-sm btn-danger" value="Usun">
    </form>

{% endblock %}
