{% extends "szablon.html" %}
{% block tytul %}KLASA++ - lista uczniow{% endblock %}
{% block h1 %}KLASA++ - lista uczniow{% endblock %}
{% block tresc %}
  <h2>Lista Uczniow</h2>
  <ol>
    {% for k in query %}
        <li class="elemdel">
          <p>Imie: {{ k.imie }}</p>
          <p>Nazwisko: {{k.nazwisko}}</p>
          <p>Płeć: {{k.plec}}</p>
          <p>Klasa: {{k.klasa.klasa}}</p>
          <a href="{{url_for('uczen_edytuj', kid=k.id)}}" class="btn btn-sm btn-primary">Edytuj</a>
          <a href="{{url_for('uczen_usun', kid=k.id)}}" class="btn btn-sm btn-danger">Usun</a>
        </li>

    {% endfor %}
  </ol>

{% endblock %}
