body
{
    margin: 0 !important;
    background: url(tlo.png); /* from https://www.toptal.com/designers/subtlepatterns/ */
    font-family: 'Lato', sans-serif;
}
#container
{
    width: 100%
}
#header
{
    width: 100%;
    padding: 40px 0;
}
#logo
{
    cursor: pointer;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 48px;
    font-style: bold;
}
.pasek
{
    background-color: #b6ea77;
    height:50px;
    display:none; 
}
.nav
{
    width: 100%;
    text-align: center;
    background-color: #b6ea77;
    padding: 10px 0;
    border-top: 1px solid #90cc33;
    border-bottom: 1px solid #90cc33;
}
#zegar
{
    color: #a39c6d;
    font-size: 50px;
    font-family: 'Spirax', cursive;
}
#content
{
    float: left;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
}
#social
{
    float: left;
    width:  15%;
    padding-left: 5%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 5%; 
}
#socialdivs
{
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    padding-top: 10px;
}
#szukaj
{
    color: #a39c6d;
    font-size: 20px;
    font-family: 'Spirax', cursive;  
}
.fb
{   
    cursor: pointer;
    border: 1px solid #244691;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;  
    height: 80px;
    background-color: #4668b3;    
    
}
.fb:hover
{
    background-color: #3557a2;
}
.fb:hover > i
{
    color: #eeeeee;
}
.snap
{
    cursor: pointer;
    border: 1px solid #ccca00;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;  
    height: 80px;
    background-color: #fffc00;  
}
.snap:hover
{
    background-color: #eeeb00;
}
.snap:hover > i
{
    margin-left: 20px;
    float: left;
    opacity: 80%;
}
.mojsnap
{
    display: none;
}
.snap:hover .mojsnap
{
    float: left;
    font-size 12px;
    display: inline;
    margin-top: 30px;
}
.ig
{   
    cursor: pointer;
    border: 1px solid #003466;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;  
    height: 80px;
    background-color: #125688;     
}
.ig:hover
{
    background-color: #014577;
}
.tw
{   
    cursor: pointer;
    border: 1px solid #1073a1;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;  
    height: 80px;
    background-color: #3095d3;     
}
.tw:hover
{
    background-color: #2084c2;
}
#footer
{
    text-align: center;
    background-color: #e9e9dd;
    padding: 30px;
}
.sticky
{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
ol
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 20px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}
ol a 
{
    text-decoration: none;
    color: #ffffff;
    display: block;
}

ol > li
{
    font-family: 'Spirax', cursive;
    float: left;
    width: 200px;
    height: 40px;
    border-right: 1px dashed #a5a57f;
}
ol > li:first-child
{
    border-left: 1px dashed #a5a57f;
}
ol > li:nth-child(2)
{
    margin-left: -5px;
}
ol > li:nth-child(3)
{
    margin-left: -5px;
}
ol > li:hover
{
    background-color: #b6da77;
}
ol > li:hover > a
{
    color: #ffffff;
}
ol > li > ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}
ol > li:hover > ul
{
    display: block;
}
ol > li > ul > li
{
    background-color: #b6da77;
    position: relative;
    z-index: 100;
    border-top: 1px dashed #a5a57f; 
}
ol > li > ul > li:hover
{
    background-color: #b6ea77;
}
ol > li > ul > li:hover > a
{
   color: #ffffff;
}
.linkpage
{
    color: #000000;
    text-decoration: none;
}
.listpoz
{
    text-decoration: none;
    padding: -5px;
    color: #000000; 
}
#content > ul > li
{
    padding-top: 10px;
}
#content > ul > li > a:hover
{
    padding-top: 10px;
    color: #b6ea77;
}
.sociallink
{
    display: block;
    width: 80px;
    height: 80px;
    text-decoration: none;
    width: 200px;
    height: 80px;
    color: #ffffff;
}
#mojezdj
{
    border: 8px groove #cea033;
    margin-right: 10px;
    float: left;
}
#content > p 
{
    margin-left: 10px;
    float: left;
    text-align: justify;
}
#contentpzepisy
{
    margin-bottom: 10px;
}
h2
{
    font-size: 18px;
    text-align: center;
}
#foodjpg
{
    float: right;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px double #a5a57f;;
}
#trenjpg
{
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px dotted #a5a57f;
}
